<!DOCTYPE html>       
<html>                
<head>                
<title>YILDIZHAN POS - E-Rapor</title>
<script type="text/javascript">setTimeout(function(){ window.location.reload(1);}, 60000);</script>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-9">
<style>table, th, td {border: 1px solid black;}</style>
<meta name="author" content="YILDIZHAN POS - E-Rapor">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <style> red {color:red;}</style>
</head>               
<body bgColor="#CCFFFF">
<L00><table style="width:100%; background-color: #CCFFFF">
<L00><tr style="width:100%; background-color: yellow"><th><red>Gün Başı</red></th><th><red>Şimdi</red></th></tr>
<L00><tr><td style="text-align:Center"><b>16.07.2021 22:18:24</b></td><td style="text-align:Center"><b>21.07.2021    21:35:08</b></td></tr>
<L00></table>
<!DOCTYPE html>       
<html>                
<head>                
<title>YILDIZHAN POS - E-Rapor</title>
<script type="text/javascript">setTimeout(function(){ window.location.reload(1);}, 60000);</script>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-9">
<style>table, th, td {border: 1px solid black;}</style>
<meta name="author" content="YILDIZHAN POS - E-Rapor">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <style> red {color:red;}</style>
</head>               
<body bgColor="#CCFFFF">
<L00><h4 style="text-align:center">Gelirler</h4>
<L00><table style="width:100%; background-color: #99FFCC">
<L00><tr style="width:100%; background-color: yellow"><th><red>Ödeme Türü</red></th><th><red>Yüzde</red></th><th><red>Tutar</red></th></tr>
<L00><tr><td>Nakit</td><td style="text-align:Center">%45,91</td><td style="text-align:right">92,50&nbsp;&nbsp;TL </td></tr>
<L00><tr><td>Kredi Kartı</td><td style="text-align:Center">%30,27</td><td style="text-align:right">61,00&nbsp;&nbsp;TL </td></tr>
<L00><tr><td>Yemek Çeki</td><td style="text-align:Center">%16,87</td><td style="text-align:right">34,00&nbsp;&nbsp;TL </td></tr>
<L00><tr><td>YILDIZHANPOS-5393035863</td><td style="text-align:Center">%6,95</td><td style="text-align:right">14,00&nbsp;&nbsp;TL </td></tr>
<L00><tr><td><b>Toplam</b></td><td style="text-align:Center"><b>%100,00</b></td><td style="text-align:right"><b>201,50&nbsp;&nbsp;TL </b></td></tr>
<L00></table>
<!DOCTYPE html>       
<html>                
<head>                
<title>YILDIZHAN POS - E-Rapor</title>
<script type="text/javascript">setTimeout(function(){ window.location.reload(1);}, 60000);</script>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-9">
<style>table, th, td {border: 1px solid black;}</style>
<meta name="author" content="YILDIZHAN POS - E-Rapor">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <style> red {color:red;}</style>
</head>               
<body bgColor="#CCFFFF">
<L00><h4 style="text-align:center">Adisyonlar</h4>
<L00><table style="width:100%; background-color: #99FFCC">
<L00><tr style="width:100%; background-color: yellow"><th><red>Ödeme Türü</red></th><th><red>Q</red></th><th><red>Tutar</red></th></
<L00><tr><td>Toplam</td><td style="text-align:Center">20</td><td style="text-align:right">957,00</td></tr>
<L00><tr><td>Ciro / Adisyon</td><td style="text-align:Center"> </td><td style="text-align:right">47,85</td></tr>
<L00></table>
<L00><h4 style="text-align:center">Siparişler</h4>
<L00><table style="width:100%; background-color: #99FFCC">
<L00><tr style="width:100%; background-color: yellow"><th><red>Ödeme Türü</red></th><th><red>Q</red></th><th><red>Tutar</red></th></
<L00><tr><td>Toplam</td><td style="text-align:Center">146</td><td style="text-align:right">993,50</td></tr>
<L00><tr><td>Ciro / Adisyon</td><td style="text-align:Center"> </td><td style="text-align:right">6,80</td></tr>
<L00><tr><td>Sipariş / Adisyon</td><td style="text-align:Center"> </td><td style="text-align:right">7,30</td></tr>
<L00></table>
 
<!DOCTYPE html>       
<html>                
<head>                
<title>YILDIZHAN POS - E-Rapor</title>
<script type="text/javascript">setTimeout(function(){ window.location.reload(1);}, 60000);</script>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-9">
<style>table, th, td {border: 1px solid black;}</style>
<meta name="author" content="YILDIZHAN POS - E-Rapor">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <style> red {color:red;}</style>
</head>               
<body bgColor="#CCFFFF">
<L00><h4 style="text-align:center">Ödeme Detayları</h4>  
<L00><table style="width:100%; background-color: #99FFCC">
<L00><tr style="width:100%; background-color: yellow"><th><red>Ödeme Türü</red></th><th><red>Yüzde</red></th><th><red>Tutar</red></th></
<L00><tr><th> </th><th><red>Adisyon</red></th><th> </th> </tr>
<L00><tr><td>Nakit</td><td style="text-align:Center">%45,91</td><td style="text-align:right">92,50&nbsp;&nbsp;TL </td></tr>
<L00><tr><td>Kredi Kartı</td><td style="text-align:Center">%30,27</td><td style="text-align:right">61,00&nbsp;&nbsp;TL </td></tr>
<L00><tr><td>Yemek Çeki</td><td style="text-align:Center">%16,87</td><td style="text-align:right">34,00&nbsp;&nbsp;TL </td></tr>
<L00><tr><td>YILDIZHANPOS-5393035863</td><td style="text-align:Center">%6,95</td><td style="text-align:right">14,00&nbsp;&nbsp;TL </td></tr>
<L00><tr><td><b>Toplam</b></td><td style="text-align:Center"><b>%100,00</b></td><td style="text-align:right"><b>201,50&nbsp;&nbsp;TL </b></td></tr>
<L00></table>
<!DOCTYPE html>       
<html>                
<head>                
<title>YILDIZHAN POS - E-Rapor</title>
<script type="text/javascript">setTimeout(function(){ window.location.reload(1);}, 60000);</script>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-9">
<style>table, th, td {border: 1px solid black;}</style>
<meta name="author" content="YILDIZHAN POS - E-Rapor">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <style> red {color:red;}</style>
</head>               
<body bgColor="#CCFFFF">
<L00><h4 style="text-align:center">Kullanıcı Bazlı Satışlar</h4> 
<L00><table style="width:100%; background-color: #99FFCC">
<L00><tr style="width:100%; background-color: yellow"><th><red>Kullanıcı</red></th><th><red>Toplam</red></th> </tr>
<tr><td style="text-align:left"><b>Administrator</b></td><td style="text-align:right"><b>856,50&nbsp;&nbsp;TL </b></td></tr>
<tr><td style="text-align:left"><b>MobileClient</b></td><td style="text-align:right"><b>100,50&nbsp;&nbsp;TL </b></td></tr>
<L00></table>
<!DOCTYPE html>       
<html>                
<head>                
<title>YILDIZHAN POS - E-Rapor</title>
<script type="text/javascript">setTimeout(function(){ window.location.reload(1);}, 60000);</script>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-9">
<style>table, th, td {border: 1px solid black;}</style>
<meta name="author" content="YILDIZHAN POS - E-Rapor">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <style> red {color:red;}</style>
</head>               
<body bgColor="#CCFFFF">
<L00><h4 style="text-align:center">Ödeme Tipine Göre Kullanıcı</h4> 
<L00><table style="width:100%; background-color: #99FFCC">
<L00><tr style="width:100%; background-color: yellow"><th><red>Ödeme Türü</red></th><th><red>Yüzde</red></th><th><red>Tutar</red></th></
<L00><tr style="width:100%; background-color: yellow"><th> </th><th><red>Administrator</red></th><th> </th> </tr>
<L00><tr><td>Nakit</td><td style="text-align:Center">%45,91</td><td style="text-align:right">92,50&nbsp;&nbsp;TL </td></tr>
<L00><tr><td>Kredi Kartı</td><td style="text-align:Center">%30,27</td><td style="text-align:right">61,00&nbsp;&nbsp;TL </td></tr>
<L00><tr><td>Yemek Çeki</td><td style="text-align:Center">%16,87</td><td style="text-align:right">34,00&nbsp;&nbsp;TL </td></tr>
<L00><tr><td>YILDIZHANPOS-5393035863</td><td style="text-align:Center">%6,95</td><td style="text-align:right">14,00&nbsp;&nbsp;TL </td></tr>
<L00><tr><td><b>Toplam</b></td><td style="text-align:Center"><b>%100,00</b></td><td style="text-align:right"><b>201,50&nbsp;&nbsp;TL </b></td></tr>
<L00></table>
<!DOCTYPE html>       
<html>                
<head>                
<title>YILDIZHAN POS - E-Rapor</title>
<script type="text/javascript">setTimeout(function(){ window.location.reload(1);}, 60000);</script>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-9">
<style>table, th, td {border: 1px solid black;}</style>
<meta name="author" content="YILDIZHAN POS - E-Rapor">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <style> red {color:red;}</style>
</head>               
<body bgColor="#CCFFFF">
<L00><h4 style="text-align:center">Ürün Satışları</h4>
<L00><table style="width:100%; background-color: #99FFCC">
<L00><tr style="width:100%; background-color: yellow"><th><red>Ödeme Türü</red></th><th><red>Yüzde</red></th><th><red>Tutar</red></th></
<L00><tr><td>Et Yemekleri</td><td style="text-align:Center">%16,72</td><td style="text-align:right">160,00&nbsp;&nbsp;TL </td></tr>
<L00><tr><td>Salatalar</td><td style="text-align:Center">%11,60</td><td style="text-align:right">111,00&nbsp;&nbsp;TL </td></tr>
<L00><tr><td>Tatlılar</td><td style="text-align:Center">%8,99</td><td style="text-align:right">86,00&nbsp;&nbsp;TL </td></tr>
<L00><tr><td>Çorbalar</td><td style="text-align:Center">%33,18</td><td style="text-align:right">317,50&nbsp;&nbsp;TL </td></tr>
<L00><tr><td>İçecekler</td><td style="text-align:Center">%3,66</td><td style="text-align:right">35,00&nbsp;&nbsp;TL </td></tr>
<L00><tr><td>Kebaplar</td><td style="text-align:Center">%16,09</td><td style="text-align:right">154,00&nbsp;&nbsp;TL </td></tr>
<L00><tr><td>Pideler</td><td style="text-align:Center">%3,13</td><td style="text-align:right">30,00&nbsp;&nbsp;TL </td></tr>
<L00><tr><td>Döner</td><td style="text-align:Center">%5,69</td><td style="text-align:right">54,50&nbsp;&nbsp;TL </td></tr>
<L00><tr><td>Specialler</td><td style="text-align:Center">%0,94</td><td style="text-align:right">9,00&nbsp;&nbsp;TL </td></tr>
<L00><tr><td><b>Toplam</b></td><td style="text-align:Center"><b>%100,00</b></td><td style="text-align:right"><b>957,00&nbsp;&nbsp;TL </b></td></tr>
<L00></table>
<L00></body>
<L00></html>