<!DOCTYPE html>       
<html>                
<head>                
<title>YILDIZHAN POS - E-Rapor</title>
<script type="text/javascript">setTimeout(function(){ window.location.reload(1);}, 60000);</script>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-9">
<style>table, th, td {border: 1px solid black;}</style>
<meta name="author" content="YILDIZHAN POS - E-Rapor">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <style> red {color:red;}</style>
</head>               
<body bgColor="#CCFFFF">
<L00><table style="width:100%; background-color: #CCFFFF">
<L00><tr style="width:100%; background-color: yellow"><th><red>Gün Başı</red></th><th><red>Şimdi</red></th></tr>
<L00><tr><td style="text-align:Center"><b>16.07.2021 22:18:24</b></td><td style="text-align:Center"><b>21.07.2021    21:35:08</b></td></tr>
<L00></table>
<!DOCTYPE html>       
<html>                
<head>                
<title>YILDIZHAN POS - E-Rapor</title>
<script type="text/javascript">setTimeout(function(){ window.location.reload(1);}, 60000);</script>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-9">
<style>table, th, td {border: 1px solid black;}</style>
<meta name="author" content="YILDIZHAN POS - E-Rapor">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <style> red {color:red;}</style>
</head>               
<body bgColor="#CCFFFF">
<L00><h4 style="text-align:center">İadeler</h4>
<L00><table style="width:100%; background-color: #99FFCC">
<L00><tr style="width:100%; background-color: yellow"><th><red>No</red></th><th><red>Kullanıcı</red></th><th><red>Saat</red></th><th><red>Durum</red></th><th><red>Ürün</red></th><th><red>Q</red></th><th><red>Fiyat</red></th></tr>
<L00><tr><td>5</td><td>Administrator</td><td>22:41:58</td><td>Yanlış Sipariş</td><td>Kaşarlı Pide</td><td style="text-align:Center">1</td><td style="text-align:right">7,00&nbsp;&nbsp;TL </td></tr>
<L00><tr><td>5</td><td>Administrator</td><td>22:41:58</td><td></td><td>Meyve Suyu</td><td style="text-align:Center">1</td><td style="text-align:right">2,00&nbsp;&nbsp;TL </td></tr>
<L00><tr><td>7</td><td>Administrator</td><td>05:17:13</td><td></td><td>Adana Kebap</td><td style="text-align:Center">1</td><td style="text-align:right">7,50&nbsp;&nbsp;TL </td></tr>
<L00><tr><td>36</td><td>Administrator</td><td>10:51:03</td><td>Yanlış Sipariş</td><td>Patlıcan Kebap</td><td style="text-align:Center">1</td><td style="text-align:right">10,00&nbsp;&nbsp;TL </td></tr>
<L00><tr><td><b>Toplam</b></td><td><b></b></td><td><b></b></td><td><b></b></td><td><b></b></td><td style="text-align:Center"><b>4</b></td><td style="text-align:right"><b>26,50&nbsp;&nbsp;TL </b></td></tr>
<L00></table>
<!DOCTYPE html>       
<html>                
<head>                
<title>YILDIZHAN POS - E-Rapor</title>
<script type="text/javascript">setTimeout(function(){ window.location.reload(1);}, 60000);</script>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-9">
<style>table, th, td {border: 1px solid black;}</style>
<meta name="author" content="YILDIZHAN POS - E-Rapor">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <style> red {color:red;}</style>
</head>               
<body bgColor="#CCFFFF">
<L00><h4 style="text-align:center">İkramlar</h4>
<L00><table style="width:100%; background-color: #99FFCC">
<L00><tr style="width:100%; background-color: yellow"><th><red>No</red></th><th><red>Kullanıcı</red></th><th><red>Saat</red></th><th><red>Durum</red></th><th><red>Ürün</red></th><th><red>Q</red></th><th><red>Fiyat</red></th></tr>
<L00><tr><td>5</td><td>Administrator</td><td>22:41:58</td><td></td><td>Çay</td><td style="text-align:Center">1</td><td style="text-align:right">0,50&nbsp;&nbsp;TL </td></tr>
<L00><tr><td>5</td><td>Administrator</td><td>22:41:58</td><td>Müşteri Memnuniyeti</td><td>Su</td><td style="text-align:Center">1</td><td style="text-align:right">1,00&nbsp;&nbsp;TL </td></tr>
<L00><tr><td>7</td><td>Administrator</td><td>05:17:13</td><td></td><td>Fırında Sütlaç</td><td style="text-align:Center">1</td><td style="text-align:right">4,00&nbsp;&nbsp;TL </td></tr>
<L00><tr><td>36</td><td>Administrator</td><td>10:51:03</td><td>Müşteri Memnuniyeti</td><td>Sütlü Kadayıf</td><td style="text-align:Center">1</td><td style="text-align:right">4,00&nbsp;&nbsp;TL </td></tr>
<L00><tr><td>38</td><td>Administrator</td><td>20:15:06</td><td>Müşteri Memnuniyeti</td><td>Çay</td><td style="text-align:Center">1</td><td style="text-align:right">0,50&nbsp;&nbsp;TL </td></tr>
<L00><tr><td><b>Toplam</b></td><td><b></b></td><td><b></b></td><td><b></b></td><td><b></b></td><td style="text-align:Center"><b>5</b></td><td style="text-align:right"><b>10,00&nbsp;&nbsp;TL </b></td></tr>
<L00></table>