<!DOCTYPE html>       
<html>                
<head>                
<title>YILDIZHAN POS - E-Rapor</title>
<script type="text/javascript">setTimeout(function(){ window.location.reload(1);}, 60000);</script>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-9">
<style>table, th, td {border: 1px solid black;}</style>
<meta name="author" content="YILDIZHAN POS - E-Rapor">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <style> red {color:red;}</style>
 <style> yellow {color:yellow;}</style>
<style> a:link, a:visited {width: 300px;height:10px;background-color: green;color: white;padding: 4px 1px 8px 1px;text-align: center;text-decoration:none;display: inline-block;border-radius:  15px/15px;} a:hover, a:active {background-color: red;}</style>
</head>               
<body bgColor="#CCFFFF">
<L00><table style="width:100%; background-color: #CCFFFF">
<L00><tr style="width:100%; background-color: yellow"><th><red>Gün Başı</red></th><th><red>Şimdi</red></th></tr>
<L00><tr><td style="text-align:Center"><b>16.07.2021 22:18:24</b></td><td style="text-align:Center"><b>21.07.2021    21:35:09</b></td></tr>
<L00></table>
<!DOCTYPE html>       
<html>                
<head>                
<title>YILDIZHAN POS - E-Rapor</title>
<script type="text/javascript">setTimeout(function(){ window.location.reload(1);}, 60000);</script>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-9">
<style>table, th, td {border: 1px solid black;}</style>
<meta name="author" content="YILDIZHAN POS - E-Rapor">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <style> red {color:red;}</style>
 <style> yellow {color:yellow;}</style>
<style> a:link, a:visited {width: 300px;height:10px;background-color: green;color: white;padding: 4px 1px 8px 1px;text-align: center;text-decoration:none;display: inline-block;border-radius:  15px/15px;} a:hover, a:active {background-color: red;}</style>
</head>               
<body bgColor="#CCFFFF">
<h4 style="text-align:center"><red>Kapanan Adisyonlar</h4>
<a href="Adisyonlar/17.html" target="_self">Id: <yellow>17</yellow>&nbsp;&nbsp;&nbsp;Masa: <b><yellow>M12</yellow></b>&nbsp;&nbsp;&nbsp;Tutar: <b><yellow>36,00</yellow></b></a><br><br>
<a href="Adisyonlar/2.html" target="_self">Id: <yellow>2</yellow>&nbsp;&nbsp;&nbsp;Masa: <b><yellow>B14</yellow></b>&nbsp;&nbsp;&nbsp;Tutar: <b><yellow>31,50</yellow></b></a><br><br>
<a href="Adisyonlar/3.html" target="_self">Id: <yellow>3</yellow>&nbsp;&nbsp;&nbsp;Masa: <b><yellow>M15</yellow></b>&nbsp;&nbsp;&nbsp;Tutar: <b><yellow>31,00</yellow></b></a><br><br>
<a href="Adisyonlar/4.html" target="_self">Id: <yellow>4</yellow>&nbsp;&nbsp;&nbsp;Masa: <b><yellow>M27</yellow></b>&nbsp;&nbsp;&nbsp;Tutar: <b><yellow>31,00</yellow></b></a><br><br>