<!DOCTYPE html>       
<html>                
<head>                
<title>YILDIZHAN POS - E-Rapor</title>
<script type="text/javascript">setTimeout(function(){ window.location.reload(1);}, 60000);</script>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-9">
<style>table, th, td {border: 1px solid black;}</style>
<meta name="author" content="YILDIZHAN POS - E-Rapor">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <style> red {color:red;}</style>
</head>               
<body bgColor="#CCFFFF">
<L00><table style="width:100%; background-color: #CCFFFF">
<L00><tr style="width:100%; background-color: yellow"><th><red>Gün Başı</red></th><th><red>Şimdi</red></th></tr>
<L00><tr><td style="text-align:Center"><b>16.07.2021 22:18:24</b></td><td style="text-align:Center"><b>21.07.2021    21:35:08</b></td></tr>
<L00></table>
<!DOCTYPE html>       
<html>                
<head>                
<title>YILDIZHAN POS - E-Rapor</title>
<script type="text/javascript">setTimeout(function(){ window.location.reload(1);}, 60000);</script>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-9">
<style>table, th, td {border: 1px solid black;}</style>
<meta name="author" content="YILDIZHAN POS - E-Rapor">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <style> red {color:red;}</style>
</head>               
<body bgColor="#CCFFFF">
<L00><h4 style="text-align:center">Satış Gelirleri</h4>
<L00><table style="width:100%; background-color: #99FFCC">
<L00><tr style="width:100%; background-color: yellow"><th><red>Ödeme Türü</red></th><th><red>Tutar</red></th></tr>
<L00><tr><td><b>Nakit</b></td><td style="text-align:right">92,50&nbsp;&nbsp;TL </td></tr>
<L00><tr><td><b>Kredi Kartı</b></td><td style="text-align:right">61,00&nbsp;&nbsp;TL </td></tr>
<L00><tr><td><b>Yemek Çeki</b></td><td style="text-align:right">34,00&nbsp;&nbsp;TL </td></tr>
<L00><tr><td><b>Toplam</b></td><td style="text-align:right"><b>187,50&nbsp;&nbsp;TL </b></td></tr>
<L00></table>
<!DOCTYPE html>       
<html>                
<head>                
<title>YILDIZHAN POS - E-Rapor</title>
<script type="text/javascript">setTimeout(function(){ window.location.reload(1);}, 60000);</script>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-9">
<style>table, th, td {border: 1px solid black;}</style>
<meta name="author" content="YILDIZHAN POS - E-Rapor">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <style> red {color:red;}</style>
</head>               
<body bgColor="#CCFFFF">
<L00><h4 style="text-align:center">Satış Dışı Kasa Gelirleri</h4>
<L00><table style="width:100%; background-color: #99FFCC">
<L00><tr style="width:100%; background-color: yellow"><th><red>Ödeme Türü</red></th><th><red>Açıklama</red></th><th><red>Tutar</red></th></tr>
<L00><tr><td>Nakit</td><td style="text-align:Center">Nakit Ödemesi</td><td style="text-align:right">4,00&nbsp;&nbsp;TL </td></tr>
<L00><tr><td>Nakit</td><td style="text-align:Center">Nakit Ödemesi  [Nakit Ödemesidir]</td><td style="text-align:right">2,00&nbsp;&nbsp;TL </td></tr>
<L00><tr><td>Kredi Kartı</td><td style="text-align:Center">Kredi Kartı Ödemesi</td><td style="text-align:right">5,00&nbsp;&nbsp;TL </td></tr>
<L00></table>
<L00><h4 style="text-align:center">Satış Dışı Gelirler Toplamları</h
<L00><table style="width:100%; background-color: #99FFCC">
<L00><tr style="width:100%; background-color: yellow"><th><red>Ödeme Türü</red></th><th><red>Yüzde</red></th><th><red>Tutar</red></th></tr>
<L00><tr><td>Nakit</td><td style="text-align:Center">%54,55</td><td style="text-align:right">6,00&nbsp;&nbsp;TL </td></tr>
<L00><tr><td>Kredi Kartı</td><td style="text-align:Center">%45,45</td><td style="text-align:right">5,00&nbsp;&nbsp;TL </td></tr>
<L00></table>
<L00><h4 style="text-align:center">Gelir Toplamları</h4>
<L00><table style="width:100%; background-color: #99FFCC">
<L00><tr style="width:100%; background-color: yellow"><th><red>Ödeme Türü</red></th><th><red>Tutar</red></th></tr>
<L00><tr><td><b>Nakit</b></td><td style="text-align:right">98,50&nbsp;&nbsp;TL </td></tr>
<L00><tr><td><b>Kredi Kartı</b></td><td style="text-align:right">66,00&nbsp;&nbsp;TL </td></tr>
<L00><tr><td><b>Yemek Çeki</b></td><td style="text-align:right">34,00&nbsp;&nbsp;TL </td></tr>
<L00></table>
<L00><h4 style="text-align:center">Gider Toplamları</h4>
<L00><table style="width:100%; background-color: #99FFCC">
<L00><tr style="width:100%; background-color: yellow"><th><red>Ödeme Türü</red></th><th><red>Tutar</red></th></tr>
<L00><tr><td><b>Nakit</b></td><td style="text-align:right">0,00&nbsp;&nbsp;TL </td></tr>
<L00><tr><td><b>Kredi Kartı</b></td><td style="text-align:right">0,00&nbsp;&nbsp;TL </td></tr>
<L00></table>
<!DOCTYPE html>       
<html>                
<head>                
<title>YILDIZHAN POS - E-Rapor</title>
<script type="text/javascript">setTimeout(function(){ window.location.reload(1);}, 60000);</script>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-9">
<style>table, th, td {border: 1px solid black;}</style>
<meta name="author" content="YILDIZHAN POS - E-Rapor">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <style> red {color:red;}</style>
</head>               
<body bgColor="#CCFFFF">
<L00><h4 style="text-align:center">Kasa Durumu</h4>
<L00><table style="width:100%; background-color: #99FFCC">
<L00><tr style="width:100%; background-color: yellow"><th><red>Ödeme Türü</red></th><th><red>Tutar</red></th></tr>
<L00><tr><td><b>Nakit</b></td><td style="text-align:right">98,50&nbsp;&nbsp;TL </td></tr>
<L00><tr><td><b>Kredi Kartı</b></td><td style="text-align:right">66,00&nbsp;&nbsp;TL </td></tr>
<L00><tr><td><b>Yemek Çeki</b></td><td style="text-align:right">34,00&nbsp;&nbsp;TL </td></tr>
<L00><tr><td><b>Toplam</b></td><td style="text-align:right"><b>198,50&nbsp;&nbsp;TL </b></td></tr>
<L00></table>
<!DOCTYPE html>       
<html>                
<head>                
<title>YILDIZHAN POS - E-Rapor</title>
<script type="text/javascript">setTimeout(function(){ window.location.reload(1);}, 60000);</script>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-9">
<style>table, th, td {border: 1px solid black;}</style>
<meta name="author" content="YILDIZHAN POS - E-Rapor">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <style> red {color:red;}</style>
</head>               
<body bgColor="#CCFFFF">
<L00><h4 style="text-align:center">Genel Giderler</h4>
<L00><table style="width:100%; background-color: #99FFCC">
<L00><tr style="width:100%; background-color: yellow"><th><red>Ödeme Türü</red></th><th><red>Açıklama</red></th><th><red>Tutar</red></th></tr>
<L00></table>
<L00><h4 style="text-align:center">Giderler Toplamları</h4>
<L00><table style="width:100%; background-color: #99FFCC">
<L00><tr style="width:100%; background-color: yellow"><th><red>Ödeme Türü</red></th><th><red>Yüzde</red></th><th><red>Tutar</red></th></tr>
<L00></table>