<!DOCTYPE html>       
<html>                
<head>                
<title>YILDIZHAN POS - E-Rapor</title>
<script type="text/javascript">setTimeout(function(){ window.location.reload(1);}, 60000);</script>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-9">
<style>table, th, td {border: 1px solid black;}</style>
<meta name="author" content="YILDIZHAN POS - E-Rapor">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <style> red {color:red;}</style>
 <style> yellow {color:yellow;}</style>
<style> a:link, a:visited {width: 250px;height:10px;background-color: green;color: white;padding: 4px 1px 8px 1px;text-align: center;text-decoration:none;display: inline-block;border-radius:  15px/15px;} a:hover, a:active {background-color: red;}</style>
</head>               
<body bgColor="#CCFFFF">
<L00><table style="width:100%; background-color: #CCFFFF">
<L00><tr style="width:100%; background-color: yellow"><th><red>Gün Başı</red></th><th><red>Şimdi</red></th></tr>
<L00><tr><td style="text-align:Center"><b>16.07.2021 22:18:24</b></td><td style="text-align:Center"><b>21.07.2021    21:35:09</b></td></tr>
<L00></table>
<!DOCTYPE html>       
<html>                
<head>                
<title>YILDIZHAN POS - E-Rapor</title>
<script type="text/javascript">setTimeout(function(){ window.location.reload(1);}, 60000);</script>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-9">
<style>table, th, td {border: 1px solid black;}</style>
<meta name="author" content="YILDIZHAN POS - E-Rapor">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <style> red {color:red;}</style>
 <style> yellow {color:yellow;}</style>
<style> a:link, a:visited {width: 250px;height:10px;background-color: green;color: white;padding: 4px 1px 8px 1px;text-align: center;text-decoration:none;display: inline-block;border-radius:  15px/15px;} a:hover, a:active {background-color: red;}</style>
</head>               
<body bgColor="#CCFFFF">
<h4 style="text-align:center"><red>42</red> Masanın Durumu</h4>
<table style="width:100%; background-color: #99FFCC">
<tr style="width:100%; background-color: yellow"><th><red>!</red></th><th><red>%</red></th><th><red>Q</red></th></tr>
<tr><td>Açık Masa</td><td style="text-align:Center">38,10%</td><td style="text-align:Center">16</td></tr>
<tr><td>Boş Masa</td><td style="text-align:Center">61,90%</td><td style="text-align:Center">26</td></tr>
</table>
<!DOCTYPE html>       
<html>                
<head>                
<title>YILDIZHAN POS - E-Rapor</title>
<script type="text/javascript">setTimeout(function(){ window.location.reload(1);}, 60000);</script>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-9">
<style>table, th, td {border: 1px solid black;}</style>
<meta name="author" content="YILDIZHAN POS - E-Rapor">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <style> red {color:red;}</style>
 <style> yellow {color:yellow;}</style>
<style> a:link, a:visited {width: 250px;height:10px;background-color: green;color: white;padding: 4px 1px 8px 1px;text-align: center;text-decoration:none;display: inline-block;border-radius:  15px/15px;} a:hover, a:active {background-color: red;}</style>
</head>               
<body bgColor="#CCFFFF">
<h4 style="text-align:center"><red>Açık Masalar</h4>
<a href="Adisyonlar/15.html" target="_self">Masa: <b><yellow>B23</yellow></b>&nbsp;&nbsp;&nbsp;Tutar: <b><yellow>34,00</yellow></b></a><br><br>
<a href="Adisyonlar/16.html" target="_self">Masa: <b><yellow>M25</yellow></b>&nbsp;&nbsp;&nbsp;Tutar: <b><yellow>66,50</yellow></b></a><br><br>
<a href="Adisyonlar/6.html" target="_self">Masa: <b><yellow>M18</yellow></b>&nbsp;&nbsp;&nbsp;Tutar: <b><yellow>48,50</yellow></b></a><br><br>
<a href="Adisyonlar/7.html" target="_self">Masa: <b><yellow>B18</yellow></b>&nbsp;&nbsp;&nbsp;Tutar: <b><yellow>37,50</yellow></b></a><br><br>
<a href="Adisyonlar/9.html" target="_self">Masa: <b><yellow>B28</yellow></b>&nbsp;&nbsp;&nbsp;Tutar: <b><yellow>72,50</yellow></b></a><br><br>
<a href="Adisyonlar/10.html" target="_self">Masa: <b><yellow>B16</yellow></b>&nbsp;&nbsp;&nbsp;Tutar: <b><yellow>30,00</yellow></b></a><br><br>
<a href="Adisyonlar/11.html" target="_self">Masa: <b><yellow>B30</yellow></b>&nbsp;&nbsp;&nbsp;Tutar: <b><yellow>31,50</yellow></b></a><br><br>
<a href="Adisyonlar/19.html" target="_self">Masa: <b><yellow>B10</yellow></b>&nbsp;&nbsp;&nbsp;Tutar: <b><yellow>44,50</yellow></b></a><br><br>
<a href="Adisyonlar/12.html" target="_self">Masa: <b><yellow>B24</yellow></b>&nbsp;&nbsp;&nbsp;Tutar: <b><yellow>46,00</yellow></b></a><br><br>
<a href="Adisyonlar/13.html" target="_self">Masa: <b><yellow>M20</yellow></b>&nbsp;&nbsp;&nbsp;Tutar: <b><yellow>98,00</yellow></b></a><br><br>
<a href="Adisyonlar/18.html" target="_self">Masa: <b><yellow>M12</yellow></b>&nbsp;&nbsp;&nbsp;Tutar: <b><yellow>30,50</yellow></b></a><br><br>
<a href="Adisyonlar/14.html" target="_self">Masa: <b><yellow>B20</yellow></b>&nbsp;&nbsp;&nbsp;Tutar: <b><yellow>47,00</yellow></b></a><br><br>
<a href="Adisyonlar/20.html" target="_self">Masa: <b><yellow>B26</yellow></b>&nbsp;&nbsp;&nbsp;Tutar: <b><yellow>101,50</yellow></b></a><br><br>
<a href="Adisyonlar/8.html" target="_self">Masa: <b><yellow>M28</yellow></b>&nbsp;&nbsp;&nbsp;Tutar: <b><yellow>40,00</yellow></b></a><br><br>
<a href="Adisyonlar/1.html" target="_self">Masa: <b><yellow>B13</yellow></b>&nbsp;&nbsp;&nbsp;Tutar: <b><yellow>47,00</yellow></b></a><br><br>
<a href="Adisyonlar/5.html" target="_self">Masa: <b><yellow>M14</yellow></b>&nbsp;&nbsp;&nbsp;Tutar: <b><yellow>52,50</yellow></b></a><br><br>