<!DOCTYPE html>       
<html>                
<head>                
<title>YILDIZHAN POS - E-Rapor</title>
<script type="text/javascript">setTimeout(function(){ window.location.reload(1);}, 60000);</script>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-9">
<style>table, th, td {border: 1px solid black;}</style>
<meta name="author" content="YILDIZHAN POS - E-Rapor">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <style> red {color:red;}</style>
</head>               
<body bgColor="#CCFFFF">
<L00><table style="width:100%; background-color: #CCFFFF">
<L00><tr style="width:100%; background-color: yellow"><th><red>Gün Başı</red></th><th><red>Şimdi</red></th></tr>
<L00><tr><td style="text-align:Center"><b>16.07.2021 22:18:24</b></td><td style="text-align:Center"><b>21.07.2021    21:35:08</b></td></tr>
<L00></table>
<!DOCTYPE html>       
<html>                
<head>                
<title>YILDIZHAN POS - E-Rapor</title>
<script type="text/javascript">setTimeout(function(){ window.location.reload(1);}, 60000);</script>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-9">
<style>table, th, td {border: 1px solid black;}</style>
<meta name="author" content="YILDIZHAN POS - E-Rapor">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <style> red {color:red;}</style>
</head>               
<body bgColor="#CCFFFF">
<L00><h4 style="text-align:center">Ürün Grubu Bazında Satışlar</h4>
<L00><table style="width:100%; background-color: #99FFCC">
<L00><tr style="width:100%; background-color: yellow"><th><red>Ürün Adı</red></th><th><red>Yüzde</red></th><th><red>Tutar</red></th></tr>
<L00><tr><td>Çorbalar</td><td style="text-align:Center">%33,18</td><td style="text-align:right">317,50&nbsp;&nbsp;TL </td></tr>
<L00><tr><td>Et Yemekleri</td><td style="text-align:Center">%16,72</td><td style="text-align:right">160,00&nbsp;&nbsp;TL </td></tr>
<L00><tr><td>Kebaplar</td><td style="text-align:Center">%16,09</td><td style="text-align:right">154,00&nbsp;&nbsp;TL </td></tr>
<L00><tr><td>Salatalar</td><td style="text-align:Center">%11,60</td><td style="text-align:right">111,00&nbsp;&nbsp;TL </td></tr>
<L00><tr><td>Tatlılar</td><td style="text-align:Center">%8,99</td><td style="text-align:right">86,00&nbsp;&nbsp;TL </td></tr>
<L00><tr><td>Döner</td><td style="text-align:Center">%5,69</td><td style="text-align:right">54,50&nbsp;&nbsp;TL </td></tr>
<L00><tr><td>İçecekler</td><td style="text-align:Center">%3,66</td><td style="text-align:right">35,00&nbsp;&nbsp;TL </td></tr>
<L00><tr><td>Pideler</td><td style="text-align:Center">%3,13</td><td style="text-align:right">30,00&nbsp;&nbsp;TL </td></tr>
<L00><tr><td>Specialler</td><td style="text-align:Center">%0,94</td><td style="text-align:right">9,00&nbsp;&nbsp;TL </td></tr>
<L00><tr><td><b>Toplam</b></td><td style="text-align:Center"><b>%100,00</b></td><td style="text-align:right"><b>957,00&nbsp;&nbsp;TL </b></td></tr>
<L00></table>
<!DOCTYPE html>       
<html>                
<head>                
<title>YILDIZHAN POS - E-Rapor</title>
<script type="text/javascript">setTimeout(function(){ window.location.reload(1);}, 60000);</script>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-9">
<style>table, th, td {border: 1px solid black;}</style>
<meta name="author" content="YILDIZHAN POS - E-Rapor">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <style> red {color:red;}</style>
</head>               
<body bgColor="#CCFFFF">
<L00><h4 style="text-align:center">Ürün Grubu Bazında Miktarlar</h4>
<L00><table style="width:100%; background-color: #99FFCC">
<L00><tr style="width:100%; background-color: yellow"><th><red>Ürün Adı</red></th><th><red>Yüzde</red></th><th><red>Adet</red></th></tr>
<L00><tr><td>Çorbalar</td><td style="text-align:Center">%24,52</td><td style="text-align:right">38</td></tr>
<L00><tr><td>İçecekler</td><td style="text-align:Center">%18,06</td><td style="text-align:right">28</td></tr>
<L00><tr><td>Tatlılar</td><td style="text-align:Center">%14,84</td><td style="text-align:right">23</td></tr>
<L00><tr><td>Salatalar</td><td style="text-align:Center">%13,55</td><td style="text-align:right">21</td></tr>
<L00><tr><td>Kebaplar</td><td style="text-align:Center">%11,61</td><td style="text-align:right">18</td></tr>
<L00><tr><td>Et Yemekleri</td><td style="text-align:Center">%10,32</td><td style="text-align:right">16</td></tr>
<L00><tr><td>Döner</td><td style="text-align:Center">%3,87</td><td style="text-align:right">6</td></tr>
<L00><tr><td>Pideler</td><td style="text-align:Center">%2,58</td><td style="text-align:right">4</td></tr>
<L00><tr><td>Specialler</td><td style="text-align:Center">%0,65</td><td style="text-align:right">1</td></tr>
<L00><tr><td><b>Toplam</b></td><td style="text-align:Center"><b>%100,00</b></td><td style="text-align:right"><b>155</b></td></tr>
<L00></table>
<!DOCTYPE html>       
<html>                
<head>                
<title>YILDIZHAN POS - E-Rapor</title>
<script type="text/javascript">setTimeout(function(){ window.location.reload(1);}, 60000);</script>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-9">
<style>table, th, td {border: 1px solid black;}</style>
<meta name="author" content="YILDIZHAN POS - E-Rapor">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <style> red {color:red;}</style>
</head>               
<body bgColor="#CCFFFF">
<L00><h4 style="text-align:center">Ürünler</h4>
<L00><table style="width:100%; background-color: #99FFCC">
<L00><tr style="width:100%; background-color: yellow"><th><red>Ürün Adı</red></th><th><red>Q</red></th><th><red>Tutar</red></th></tr>
<L00><tr><td><b>Kelle Paça</b></td><td style="text-align:Center"><b>17</b></td><td style="text-align:right"><b>153,00&nbsp;&nbsp;TL </b></td></tr>
<L00><tr><td><b>İşkembe Tuzlama</b></td><td style="text-align:Center"><b>11</b></td><td style="text-align:right"><b>90,50&nbsp;&nbsp;TL </b></td></tr>
<L00><tr><td><b>Beyin Salata</b></td><td style="text-align:Center"><b>9</b></td><td style="text-align:right"><b>63,00&nbsp;&nbsp;TL </b></td></tr>
<L00><tr><td><b>Beğendili Kebap</b></td><td style="text-align:Center"><b>6</b></td><td style="text-align:right"><b>60,00&nbsp;&nbsp;TL </b></td></tr>
<L00><tr><td><b>Patlıcan Kebap</b></td><td style="text-align:Center"><b>6</b></td><td style="text-align:right"><b>60,00&nbsp;&nbsp;TL </b></td></tr>
<L00><tr><td><b>Adana Kebap</b></td><td style="text-align:Center"><b>8</b></td><td style="text-align:right"><b>60,00&nbsp;&nbsp;TL </b></td></tr>
<L00><tr><td><b>Orman Kebabı</b></td><td style="text-align:Center"><b>4</b></td><td style="text-align:right"><b>40,00&nbsp;&nbsp;TL </b></td></tr>
<L00><tr><td><b>Şekerpade</b></td><td style="text-align:Center"><b>9</b></td><td style="text-align:right"><b>36,00&nbsp;&nbsp;TL </b></td></tr>
<L00><tr><td><b>Şırdan Tuzlama</b></td><td style="text-align:Center"><b>4</b></td><td style="text-align:right"><b>32,00&nbsp;&nbsp;TL </b></td></tr>
<L00><tr><td><b>İskender</b></td><td style="text-align:Center"><b>3</b></td><td style="text-align:right"><b>30,50&nbsp;&nbsp;TL </b></td></tr>
<L00><tr><td><b>İşkembe</b></td><td style="text-align:Center"><b>4</b></td><td style="text-align:right"><b>26,00&nbsp;&nbsp;TL </b></td></tr>
<L00><tr><td><b>Sütlü Kadayıf</b></td><td style="text-align:Center"><b>7</b></td><td style="text-align:right"><b>24,00&nbsp;&nbsp;TL </b></td></tr>
<L00><tr><td><b>Püreli Kebap</b></td><td style="text-align:Center"><b>2</b></td><td style="text-align:right"><b>20,00&nbsp;&nbsp;TL </b></td></tr>
<L00><tr><td><b>Çoban Salata</b></td><td style="text-align:Center"><b>5</b></td><td style="text-align:right"><b>20,00&nbsp;&nbsp;TL </b></td></tr>
<L00><tr><td><b>Cacık</b></td><td style="text-align:Center"><b>5</b></td><td style="text-align:right"><b>20,00&nbsp;&nbsp;TL </b></td></tr>
<L00><tr><td><b>Tas Kebap</b></td><td style="text-align:Center"><b>2</b></td><td style="text-align:right"><b>20,00&nbsp;&nbsp;TL </b></td></tr>
<L00><tr><td><b>Dana Rosto</b></td><td style="text-align:Center"><b>2</b></td><td style="text-align:right"><b>20,00&nbsp;&nbsp;TL </b></td></tr>
<L00><tr><td><b>Beyti Kebap</b></td><td style="text-align:Center"><b>2</b></td><td style="text-align:right"><b>18,00&nbsp;&nbsp;TL </b></td></tr>
<L00><tr><td><b>Fırında Sütlaç</b></td><td style="text-align:Center"><b>5</b></td><td style="text-align:right"><b>16,00&nbsp;&nbsp;TL </b></td></tr>
<L00><tr><td><b>Ayak Paça</b></td><td style="text-align:Center"><b>2</b></td><td style="text-align:right"><b>16,00&nbsp;&nbsp;TL </b></td></tr>
<L00><tr><td><b>Dürüm Döner</b></td><td style="text-align:Center"><b>2</b></td><td style="text-align:right"><b>16,00&nbsp;&nbsp;TL </b></td></tr>
<L00><tr><td><b>Kaşarlı Pide</b></td><td style="text-align:Center"><b>2</b></td><td style="text-align:right"><b>14,00&nbsp;&nbsp;TL </b></td></tr>
<L00><tr><td><b>Kola</b></td><td style="text-align:Center"><b>6</b></td><td style="text-align:right"><b>12,00&nbsp;&nbsp;TL </b></td></tr>
<L00><tr><td><b>Kaymaklı Ekmek Kadayıfı</b></td><td style="text-align:Center"><b>2</b></td><td style="text-align:right"><b>10,00&nbsp;&nbsp;TL </b></td></tr>
<L00><tr><td><b>Mumbar Dolma</b></td><td style="text-align:Center"><b>1</b></td><td style="text-align:right"><b>9,00&nbsp;&nbsp;TL </b></td></tr>
<L00><tr><td><b>Karışık Pide</b></td><td style="text-align:Center"><b>1</b></td><td style="text-align:right"><b>8,00&nbsp;&nbsp;TL </b></td></tr>
<L00><tr><td><b>Fanta</b></td><td style="text-align:Center"><b>4</b></td><td style="text-align:right"><b>8,00&nbsp;&nbsp;TL </b></td></tr>
<L00><tr><td><b>Kaşarlı Köfte</b></td><td style="text-align:Center"><b>1</b></td><td style="text-align:right"><b>8,00&nbsp;&nbsp;TL </b></td></tr>
<L00><tr><td><b>Domatesli Kebap</b></td><td style="text-align:Center"><b>1</b></td><td style="text-align:right"><b>8,00&nbsp;&nbsp;TL </b></td></tr>
<L00><tr><td><b>Mevsim Salata</b></td><td style="text-align:Center"><b>2</b></td><td style="text-align:right"><b>8,00&nbsp;&nbsp;TL </b></td></tr>
<L00><tr><td><b>Sucuklu Pide</b></td><td style="text-align:Center"><b>1</b></td><td style="text-align:right"><b>8,00&nbsp;&nbsp;TL </b></td></tr>
<L00><tr><td><b>Ankara Döneri</b></td><td style="text-align:Center"><b>1</b></td><td style="text-align:right"><b>8,00&nbsp;&nbsp;TL </b></td></tr>
<L00><tr><td><b>Ayran</b></td><td style="text-align:Center"><b>3</b></td><td style="text-align:right"><b>4,50&nbsp;&nbsp;TL </b></td></tr>
<L00><tr><td><b>Soda</b></td><td style="text-align:Center"><b>3</b></td><td style="text-align:right"><b>3,00&nbsp;&nbsp;TL </b></td></tr>
<L00><tr><td><b>Su</b></td><td style="text-align:Center"><b>4</b></td><td style="text-align:right"><b>3,00&nbsp;&nbsp;TL </b></td></tr>
<L00><tr><td><b>Çay</b></td><td style="text-align:Center"><b>7</b></td><td style="text-align:right"><b>2,50&nbsp;&nbsp;TL </b></td></tr>
<L00><tr><td><b>Meyve Suyu</b></td><td style="text-align:Center"><b>1</b></td><td style="text-align:right"><b>2,00&nbsp;&nbsp;TL </b></td></tr>
<L00></table>