<!DOCTYPE html>
<html>
<head>
<title>YILDIZHAN POS - E-Rapor</title>
<meta name="author" content="YILDIZHAN POS - E-Rapor">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-9">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript">setTimeout(function(){window.location.reload(1);}, 60000);</script>
<style>
a:link, a:visited {
  width: 300px; 
  height: 20px;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px/15px;

}

a:hover, a:active {
  background-color: red;
}

</style>


</head>

<h2 style="text-align:center">YıldızhanPOS Cafe</h2>
<h4 style="text-align:center">16.07.2021 22:18:24</h5>


<body bgColor="#99FFCC">
<a href="ilyas/gunsonu.htm" target="_self" style="background-color:green">Gün Sonu Raporu</a><br><br>
<a href="ilyas/kasaraporu.htm" target="_self" style="background-color:green">Kasa Raporu</a><br><br>
<a href="ilyas/urunsatis.htm" target="_self" style="background-color:green">Ürün Satış Raporu</a><br><br>
<a href="ilyas/ikramiade.htm" target="_self" style="background-color:green">İkram - İade Raporu</a><br><br>
<a href="ilyas/masadurum.htm" target="_self" style="background-color:green">Açık Masalar</a><br><br>
<a href="ilyas/kapanan.htm" target="_self" style="background-color:green">Kapanan Adisyonlar</a><br><br>

<a href="ilyas/Adisyonlar/md.html" target="_self" style="background-color:blue">Müşteri Ekranı</a><br><br>
</body>
</html>