<!DOCTYPE html>                           
<html>                                    
<head>                                    
<title>Yıldızhan POS - E-Adisyon</title>  
 <script type="text/javascript">setTimeout(function(){ window.location.reload(1);}, 10000);</script>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-9">
<meta name="author" content="Yıldızhan POS - E-Adisyon">
<style>table, th{border: 1px solid black;}</style>
<meta name="author" content="YILDIZHAN POS - E-Rapor">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <style> red {color:red;}</style>         
 <style> g {color:green;}</style>         
 <style> w {color:white;}</style>         
 <style> bl {color:blue;}</style>         
</head>                                   
<body>                                    
<table style="width:100%; background-color: #99FFCC">
<tr><td style="text-align:Left">18. Tem. 2021 (Paz)    10:51</td><td style="text-align:Right"><b>#</b> 12</td></tr>
<tr><td style="text-align:Left">Masa: <red><b>B24</b></red></td><td style="text-align:Right"><red>Administrator</red></td></tr>
</table>                                  
<table style="width:100%; background-color: #CCFFFF">
<tr><th><red>Q</red></th><th><red>Ürünler</red></th><th><red>TL</red></th></tr>
<tr><td>1</td><td style="text-align:Left"> Kelle Paça</td><td style="text-align:Right">9,00</td></tr>
                                          
<tr><td>1</td><td style="text-align:Left"> İşkembe</td><td style="text-align:Right">6,50</td></tr>
                                          
<tr><td>1</td><td style="text-align:Left"> Adana Kebap</td><td style="text-align:Right">7,50</td></tr>
<tr><td></td><td style="text-align:Left; font-size:11px"><bl><i>&nbsp;&nbsp;&nbsp;&nbsp;»  Sos</bl></i></td><td style="text-align:Right"></i><bl></bl></i></td></tr>
<tr><td></td><td style="text-align:Left; font-size:11px"><bl><i>&nbsp;&nbsp;&nbsp;&nbsp;»  Mayonez</bl></i></td><td style="text-align:Right"></i><bl></bl></i></td></tr>
<tr><td>1</td><td style="text-align:Left"> Domatesli Kebap</td><td style="text-align:Right">8,00</td></tr>
                                          
<tr><td>1</td><td style="text-align:Left"> Mevsim Salata</td><td style="text-align:Right">4,00</td></tr>
                                          
<tr><td>1</td><td style="text-align:Left"> Beyin Salata</td><td style="text-align:Right">7,00</td></tr>
                                          
<tr><td>1</td><td style="text-align:Left"> Cacık</td><td style="text-align:Right">4,00</td></tr>
                                          
</table>                                  
<table style="width:100%; background-color: #CCFFFF">
<tr><td style="text-align:Center">Toplam Ürün Sayısı  <b><red>7</red></b>  Adettir.</td></tr>
</table>                                  
<table style="width:100%; background-color: black">
<tr><th><w>Toplam</w></th><th><w>46,00</w></th></tr>
</table>                                  
<table style="width:100%; background-color: #99FFCC">
</table>                                  