<html>                                    
<head>                                    
<title>Yıldızhan POS - E-Adisyon</title>  
 <script type="text/javascript">setTimeout(function(){ window.location.reload(1);}, 1000);</script>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-9">
<meta name="author" content="Yıldızhan POS - E-Adisyon">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>                                   
<div style="width:100%; height:100%; font-size:30px; position:center; left:0px; padding:250px 0px; background:#bd1622; color:#FFFFFF; margin:0px; text-align:center; z-index:1">
YıldızhanPOS Cafe<br/>                    
0539 303 58 63<br/>                       
ins/yildizhanpos                          
</body>                                   
</html>                                   